In [1]:
!pip install wbdata
!pip install cufflinks # IF NECESSARY
import wbdata
import cufflinks as cf
import pandas as pd
import numpy as np

Collecting wbdata
  Using cached wbdata-0.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (2.26.0)
Requirement already satisfied: decorator>=4.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (5.0.9)
Requirement already satisfied: tabulate>=0.8.5 in /opt/conda/lib/python3.9/site-packages (from wbdata) (0.8.9)
Requirement already satisfied: appdirs<2.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2019.11.28)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (1.25.7)
Installing collected packages: wbdata
Successfully installed wbdata-0.3.0
Requirement already satisfied: cufflinks in /opt/conda/lib/python3.9/site-packages (0.17.3)
Requirement already satisfied: ipywidgets>=7.0.0 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (7.6.5)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (1.16.0)
Requirement already satisfied: ipython>=5.3.0 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (8.0.1)
Requirement already satisfied: plotly>=4.1.1 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (5.2.1)
Requirement already satisfied: numpy>=1.9.2 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (1.21.5)
Requirement already satisfied: pandas>=0.19.2 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (1.3.5)
Requirement already satisfied: setuptools>=34.4.1 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (58.2.0)
Requirement already satisfied: colorlover>=0.2.1 in /opt/conda/lib/python3.9/site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (1.0.2)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (5.1.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (6.7.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: black in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (22.1.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (5.0.9)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (0.18.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (0.1.4)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (0.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (3.0.26)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=5.3.0->cufflinks) (2.11.2)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from plotly>=4.1.1->cufflinks) (8.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.19.2->cufflinks) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.19.2->cufflinks) (2021.1)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.9.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.4.0)
Requirement already satisfied: jupyter-client<8.0 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (7.1.2)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.4)
Requirement already satisfied: tornado<7.0,>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.1)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.7)
Requirement already satisfied: tomli>=1.1.0 in /opt/conda/lib/python3.9/site-packages (from black->ipython>=5.3.0->cufflinks) (2.0.0)
Requirement already satisfied: platformdirs>=2 in /opt/conda/lib/python3.9/site-packages (from black->ipython>=5.3.0->cufflinks) (2.3.0)
Requirement already satisfied: click>=8.0.0 in /opt/conda/lib/python3.9/site-packages (from black->ipython>=5.3.0->cufflinks) (8.0.3)
Requirement already satisfied: mypy-extensions>=0.4.3 in /opt/conda/lib/python3.9/site-packages (from black->ipython>=5.3.0->cufflinks) (0.4.3)
Collecting typing-extensions>=3.10.0.0; python_version < "3.10"
  Using cached typing_extensions-4.0.1-py3-none-any.whl (22 kB)
Requirement already satisfied: pathspec>=0.9.0 in /opt/conda/lib/python3.9/site-packages (from black->ipython>=5.3.0->cufflinks) (0.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=5.3.0->cufflinks) (0.7.0)
Requirement already satisfied: asttokens in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->cufflinks) (2.0.5)
Requirement already satisfied: executing in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.8.2)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.2.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.2.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (19.3.0)
Requirement already satisfied: pyzmq>=13 in /opt/conda/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (22.3.0)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.3)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.8.0)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.13.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.0.3)
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.0)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.0.1)
Requirement already satisfied: bleach in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.1.0)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.10)
Requirement already satisfied: testpath in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.3)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.14.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.0.7)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.20)
Installing collected packages: typing-extensions
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

tensorflow 2.6.2 requires h5py~=3.1.0, but you'll have h5py 3.3.0 which is incompatible.
tensorflow 2.6.2 requires numpy~=1.19.2, but you'll have numpy 1.21.5 which is incompatible.
tensorflow 2.6.2 requires six~=1.15.0, but you'll have six 1.16.0 which is incompatible.
tensorflow 2.6.2 requires typing-extensions~=3.7.4, but you'll have typing-extensions 4.0.1 which is incompatible.
fancyimpute 0.6.0 requires keras==2.4.3, but you'll have keras 2.6.0 which is incompatible.
fancyimpute 0.6.0 requires numpy==1.19.5, but you'll have numpy 1.21.5 which is incompatible.
fancyimpute 0.6.0 requires scipy==1.6.3, but you'll have scipy 1.7.3 which is incompatible.
fancyimpute 0.6.0 requires tensorflow==2.5, but you'll have tensorflow 2.6.2 which is incompatible.
arviz 0.11.4 requires typing-extensions<4,>=3.7.4.3, but you'll have typing-extensions 4.0.1 which is incompatible.
Successfully installed typing-extensions-4.0.1

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning:

The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

In [2]:
indicator_40_df = pd.DataFrame(wbdata.get_indicator(source='40'))

In [3]:
gender_bins = indicator_40_df[indicator_40_df['id'].str.fullmatch('SP.POP.*.(FE|MA)')]

In [4]:
test_dict = dict(zip(gender_bins.id, gender_bins.name))

In [5]:
all_countries = pd.DataFrame(wbdata.get_country())['id'].to_list()

In [6]:
type(all_countries)

all_countries

['ABW',
 'AFE',
 'AFG',
 'AFR',
 'AFW',
 'AGO',
 'ALB',
 'AND',
 'ARB',
 'ARE',
 'ARG',
 'ARM',
 'ASM',
 'ATG',
 'AUS',
 'AUT',
 'AZE',
 'BDI',
 'BEA',
 'BEC',
 'BEL',
 'BEN',
 'BFA',
 'BGD',
 'BGR',
 'BHI',
 'BHR',
 'BHS',
 'BIH',
 'BLA',
 'BLR',
 'BLZ',
 'BMN',
 'BMU',
 'BOL',
 'BRA',
 'BRB',
 'BRN',
 'BSS',
 'BTN',
 'BWA',
 'CAA',
 'CAF',
 'CAN',
 'CEA',
 'CEB',
 'CEU',
 'CHE',
 'CHI',
 'CHL',
 'CHN',
 'CIV',
 'CLA',
 'CME',
 'CMR',
 'COD',
 'COG',
 'COL',
 'COM',
 'CPV',
 'CRI',
 'CSA',
 'CSS',
 'CUB',
 'CUW',
 'CYM',
 'CYP',
 'CZE',
 'DEA',
 'DEC',
 'DEU',
 'DFS',
 'DJI',
 'DLA',
 'DMA',
 'DMN',
 'DNF',
 'DNK',
 'DNS',
 'DOM',
 'DSA',
 'DSF',
 'DSS',
 'DZA',
 'EAP',
 'EAR',
 'EAS',
 'ECA',
 'ECS',
 'ECU',
 'EGY',
 'EMU',
 'ERI',
 'ESP',
 'EST',
 'ETH',
 'EUU',
 'FCS',
 'FIN',
 'FJI',
 'FRA',
 'FRO',
 'FSM',
 'FXS',
 'GAB',
 'GBR',
 'GEO',
 'GHA',
 'GIB',
 'GIN',
 'GMB',
 'GNB',
 'GNQ',
 'GRC',
 'GRD',
 'GRL',
 'GTM',
 'GUM',
 'GUY',
 'HIC',
 'HKG',
 'HND',
 'HPC',
 'HRV',
 'HTI',
 'HUN',
 'IBB',
 'IBD',
 'IBT',
 'IDA',
 'IDB',
 'IDN',
 'IDX',
 'IMN',
 'IND',
 'INX',
 'IRL',
 'IRN',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KGZ',
 'KHM',
 'KIR',
 'KNA',
 'KOR',
 'KWT',
 'LAC',
 'LAO',
 'LBN',
 'LBR',
 'LBY',
 'LCA',
 'LCN',
 'LDC',
 'LIC',
 'LIE',
 'LKA',
 'LMC',
 'LMY',
 'LSO',
 'LTE',
 'LTU',
 'LUX',
 'LVA',
 'MAC',
 'MAF',
 'MAR',
 'MCO',
 'MDA',
 'MDE',
 'MDG',
 'MDV',
 'MEA',
 'MEX',
 'MHL',
 'MIC',
 'MKD',
 'MLI',
 'MLT',
 'MMR',
 'MNA',
 'MNE',
 'MNG',
 'MNP',
 'MOZ',
 'MRT',
 'MUS',
 'MWI',
 'MYS',
 'NAC',
 'NAF',
 'NAM',
 'NCL',
 'NER',
 'NGA',
 'NIC',
 'NLD',
 'NOR',
 'NPL',
 'NRS',
 'NRU',
 'NXS',
 'NZL',
 'OED',
 'OMN',
 'OSS',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'PLW',
 'PNG',
 'POL',
 'PRE',
 'PRI',
 'PRK',
 'PRT',
 'PRY',
 'PSE',
 'PSS',
 'PST',
 'PYF',
 'QAT',
 'ROU',
 'RRS',
 'RUS',
 'RWA',
 'SAS',
 'SAU',
 'SDN',
 'SEN',
 'SGP',
 'SLB',
 'SLE',
 'SLV',
 'SMR',
 'SOM',
 'SRB',
 'SSA',
 'SSD',
 'SSF',
 'SST',
 'STP',
 'SUR',
 'SVK',
 'SVN',
 'SWE',
 'SWZ',
 'SXM',
 'SXZ',
 'SYC',
 'SYR',
 'TCA',
 'TCD',
 'TEA',
 'TEC',
 'TGO',
 'THA',
 'TJK',
 'TKM',
 'TLA',
 'TLS',
 'TMN',
 'TON',
 'TSA',
 'TSS',
 'TTO',
 'TUN',
 'TUR',
 'TUV',
 'TWN',
 'TZA',
 'UGA',
 'UKR',
 'UMC',
 'URY',
 'USA',
 'UZB',
 'VCT',
 'VEN',
 'VGB',
 'VIR',
 'VNM',
 'VUT',
 'WLD',
 'WSM',
 'XKX',
 'XZN',
 'YEM',
 'ZAF',
 'ZMB',
 'ZWE']

In [ ]:
wbdata.get_dataframe(test_dict, country='THA', cache=False)

In [4]:
countries = {"WLD":"World",
             "LIC":"Low income",
             "LMC":"Low-medium income",
             "UMC":"Upper-medium income",
             "HIC":"High income",
            }

# Can't do ['THA', 'ETH'] ???? 
wbdata.get_dataframe(test_dict, country = ['ABW', 'AFE', "AFG"], data_date=(dt_2014, dt_2021), cache=False, keep_levels=True)

NameError: name 'test_dict' is not defined

In [9]:
def pop_df(start_year=1960, end_year=2021, country='all'):
    '''
    Returns pandas DataFrame of male and female population counts 
    in age bins from wbdata, indexed by country and year. 
    
            Parameters:
                    start_year (int): First year of the year range (inclusive)
                    end_year (int): End year of the year range (inclusive)
                    country (list): Country or list of countries to return. 
                                    Returns all countries if not specified.

            Returns:
                    df (pandas DataFrame): pandas DataFrame 
    '''
    # Select only relevant indicators
    indicator_40_df = pd.DataFrame(wbdata.get_indicator(source='40', cache=False))
    gender_bins = indicator_40_df[indicator_40_df['id'].str.fullmatch('SP.POP.*.(FE|MA)')]
    indicator_dict = dict(zip(gender_bins.id, gender_bins.name))
    
    # Construct dataframe with wbdata.get_dataframe() 
    start_year = pd.to_datetime(start_year, format='%Y')
    end_year = pd.to_datetime(end_year, format='%Y')
    df = wbdata.get_dataframe(
        indicators=indicator_dict, 
        country=country, 
        data_date = (start_year, end_year), 
        cache=False,
        keep_levels=True) 
    df = df.rename_axis(index=['country', 'year'])
    return df

In [10]:
# Populations for Thailand from 1983-1989
pop_df(country = 'THA', start_year=1983, end_year=1989)

               Population ages 00-04, female  Population ages 00-04, male  \
country  year
Thailand 1989                      2661016.0                    2766476.0
         1988                      2698827.0                    2807933.0
         1987                      2735728.0                    2850590.0
         1986                      2772809.0                    2890407.0
         1985                      2810956.0                    2925125.0
         1984                      2852514.0                    2966852.0
         1983                      2898714.0                    3009723.0

               Population ages 05-09, female  Population ages 05-09, male  \
country  year
Thailand 1989                      2841682.0                    2941618.0
         1988                      2884664.0                    2980172.0
         1987                      2921629.0                    3015731.0
         1986                      2955880.0                    3051356.0
         1985                      2990843.0                    3089196.0
         1984                      3024042.0                    3128730.0
         1983                      3053560.0                    3165319.0

               Population ages 10-14, female  Population ages 10-14, male  \
country  year
Thailand 1989                      3014393.0                    3101845.0
         1988                      3041146.0                    3131507.0
         1987                      3061764.0                    3157532.0
         1986                      3079892.0                    3180626.0
         1985                      3097928.0                    3201196.0
         1984                      3099883.0                    3205753.0
         1983                      3099005.0                    3204345.0

               Population ages 15-19, female  Population ages 15-19, male  \
country  year
Thailand 1989                      3043062.0                    3133595.0
         1988                      3045978.0                    3133527.0
         1987                      3040650.0                    3125335.0
         1986                      3024636.0                    3106017.0
         1985                      2994646.0                    3072549.0
         1984                      2933059.0                    3008395.0
         1983                      2857671.0                    2929266.0

               Population ages 20-24, female  Population ages 20-24, male  \
country  year
Thailand 1989                      2854107.0                    2906132.0
         1988                      2796958.0                    2840245.0
         1987                      2721230.0                    2759772.0
         1986                      2640161.0                    2676416.0
         1985                      2563821.0                    2598847.0
         1984                      2502027.0                    2528613.0
         1983                      2449568.0                    2467601.0

               ...  Population ages 60-64, female  \
country  year  ...
Thailand 1989  ...                       728948.0
         1988  ...                       680375.0
         1987  ...                       632934.0
         1986  ...                       590624.0
         1985  ...                       555613.0
         1984  ...                       526509.0
         1983  ...                       503394.0

               Population ages 60-64, male  Population ages 65-69, female  \
country  year
Thailand 1989                     689885.0                       496323.0
         1988                     646353.0                       468911.0
         1987                     602828.0                       446741.0
         1986                     563346.0                       428802.0
         1985                     530116.0                       414153.0
         1984                     501724.0                       400411.0
         1983                     478213.0                       388985.0

               Population ages 65-69, male  Population ages 70-74, female  \
country  year
Thailand 1989                     452069.0                       350267.0
         1988                     425061.0                       338835.0
         1987                     402874.0                       328957.0
         1986                     384751.0                       320300.0
         1985                     369951.0                       312950.0
         1984                     357325.0                       305039.0
         1983                     347703.0                       298280.0

               Population ages 70-74, male  Population ages 75-79, female  \
country  year
Thailand 1989                     294312.0                       247471.0
         1988                     284590.0                       240559.0
         1987                     276734.0                       234320.0
         1986                     269438.0                       228661.0
         1985                     262114.0                       223068.0
         1984                     254661.0                       214942.0
         1983                     246936.0                       206439.0

               Population ages 75-79, male  \
country  year
Thailand 1989                     191664.0
         1988                     184047.0
         1987                     176563.0
         1986                     169824.0
         1985                     163805.0
         1984                     157491.0
         1983                     151493.0

               Population ages 80 and above, female  \
country  year
Thailand 1989                              251730.0
         1988                              241270.0
         1987                              228882.0
         1986                              215191.0
         1985                              200820.0
         1984                              194175.0
         1983                              187282.0

               Population ages 80 and above, male
country  year
Thailand 1989                            153461.0
         1988                            148680.0
         1987                            142360.0
         1986                            134555.0
         1985                            125518.0
         1984                            122883.0
         1983                            119109.0

[7 rows x 34 columns]

In [14]:
# Populations from Thailand, Vietnam, and India from 1983-1985
tha_vnm_ind = pop_df(country = ['THA', 'VNM', 'IND'], start_year=1983, end_year=1985)
tha_vnm_ind.head(10)

               Population ages 00-04, female  Population ages 00-04, male  \
country  year
India    1985                     55400822.0                   60131806.0
         1984                     54476017.0                   58968613.0
         1983                     53455625.0                   57661482.0
Thailand 1985                      2810956.0                    2925125.0
         1984                      2852514.0                    2966852.0
         1983                      2898714.0                    3009723.0
Vietnam  1985                      4170623.0                    4399353.0
         1984                      4100967.0                    4322006.0
         1983                      4026162.0                    4238805.0

               Population ages 05-09, female  Population ages 05-09, male  \
country  year
India    1985                     47811908.0                   51659104.0
         1984                     47060224.0                   50707057.0
         1983                     46260458.0                   49747301.0
Thailand 1985                      2990843.0                    3089196.0
         1984                      3024042.0                    3128730.0
         1983                      3053560.0                    3165319.0
Vietnam  1985                      3822072.0                    3998692.0
         1984                      3791295.0                    3963479.0
         1983                      3766616.0                    3935634.0

               Population ages 10-14, female  Population ages 10-14, male  \
country  year
India    1985                     42849622.0                   46102846.0
         1984                     41995441.0                   45167804.0
         1983                     41107316.0                   44216905.0
Thailand 1985                      3097928.0                    3201196.0
         1984                      3099883.0                    3205753.0
         1983                      3099005.0                    3204345.0
Vietnam  1985                      3612377.0                    3752132.0
         1984                      3560131.0                    3696529.0
         1983                      3498362.0                    3631497.0

               Population ages 15-19, female  Population ages 15-19, male  \
country  year
India    1985                     38225095.0                   41258438.0
         1984                     37461732.0                   40475771.0
         1983                     36759268.0                   39756909.0
Thailand 1985                      2994646.0                    3072549.0
         1984                      2933059.0                    3008395.0
         1983                      2857671.0                    2929266.0
Vietnam  1985                      3275575.0                    3378492.0
         1984                      3220172.0                    3319608.0
         1983                      3169416.0                    3265540.0

               Population ages 20-24, female  Population ages 20-24, male  \
country  year
India    1985                     34239351.0                   37314198.0
         1984                     33527360.0                   36579142.0
         1983                     32801376.0                   35818645.0
Thailand 1985                      2563821.0                    2598847.0
         1984                      2502027.0                    2528613.0
         1983                      2449568.0                    2467601.0
Vietnam  1985                      2977526.0                    3045245.0
         1984                      2913693.0                    2978486.0
         1983                      2845614.0                    2908198.0

               ...  Population ages 60-64, female  \
country  year  ...
India    1985  ...                      8477794.0
         1984  ...                      8219610.0
         1983  ...                      7994661.0
Thailand 1985  ...                       555613.0
         1984  ...                       526509.0
         1983  ...                       503394.0
Vietnam  1985  ...                       850690.0
         1984  ...                       827913.0
         1983  ...                       799340.0

               Population ages 60-64, male  Population ages 65-69, female  \
country  year
India    1985                    9104743.0                      6235004.0
         1984                    8853581.0                      6054584.0
         1983                    8630948.0                      5888280.0
Thailand 1985                     530116.0                       414153.0
         1984                     501724.0                       400411.0
         1983                     478213.0                       388985.0
Vietnam  1985                     697529.0                       672598.0
         1984                     681216.0                       657182.0
         1983                     661925.0                       650146.0

               Population ages 65-69, male  Population ages 70-74, female  \
country  year
India    1985                    6483706.0                      4184322.0
         1984                    6304806.0                      4068460.0
         1983                    6135989.0                      3969938.0
Thailand 1985                     369951.0                       312950.0
         1984                     357325.0                       305039.0
         1983                     347703.0                       298280.0
Vietnam  1985                     527377.0                       562855.0
         1984                     514735.0                       547888.0
         1983                     507162.0                       528506.0

               Population ages 70-74, male  Population ages 75-79, female  \
country  year
India    1985                    4166426.0                      2470825.0
         1984                    4066983.0                      2393480.0
         1983                    3983978.0                      2298241.0
Thailand 1985                     262114.0                       223068.0
         1984                     254661.0                       214942.0
         1983                     246936.0                       206439.0
Vietnam  1985                     388269.0                       385763.0
         1984                     377203.0                       373944.0
         1983                     363402.0                       367661.0

               Population ages 75-79, male  \
country  year
India    1985                    2400131.0
         1984                    2345364.0
         1983                    2273730.0
Thailand 1985                     163805.0
         1984                     157491.0
         1983                     151493.0
Vietnam  1985                     226549.0
         1984                     219065.0
         1983                     214527.0

               Population ages 80 and above, female  \
country  year
India    1985                             1695393.0
         1984                             1687818.0
         1983                             1662722.0
Thailand 1985                              200820.0
         1984                              194175.0
         1983                              187282.0
Vietnam  1985                              416474.0
         1984                              398683.0
         1983                              377430.0

               Population ages 80 and above, male
country  year
India    1985                           1436201.0
         1984                           1446835.0
         1983                           1428376.0
Thailand 1985                            125518.0
         1984                            122883.0
         1983                            119109.0
Vietnam  1985                            171741.0
         1984                            165165.0
         1983                            155216.0

[9 rows x 34 columns]

In [15]:
# Get only a single year 
tha_vnm_ind = pop_df(country = ['THA', 'VNM', 'IND'], start_year=1983, end_year=1983)
tha_vnm_ind.head(10)

,,"Population ages 00-04, female","Population ages 00-04, male","Population ages 05-09, female","Population ages 05-09, male","Population ages 10-14, female","Population ages 10-14, male","Population ages 15-19, female","Population ages 15-19, male","Population ages 20-24, female","Population ages 20-24, male",...,"Population ages 60-64, female","Population ages 60-64, male","Population ages 65-69, female","Population ages 65-69, male","Population ages 70-74, female","Population ages 70-74, male","Population ages 75-79, female","Population ages 75-79, male","Population ages 80 and above, female","Population ages 80 and above, male"
country,year,,,,,,,,,,,,,,,,,,,,,
India,1983,53455625.0,57661482.0,46260458.0,49747301.0,41107316.0,44216905.0,36759268.0,39756909.0,32801376.0,35818645.0,...,7994661.0,8630948.0,5888280.0,6135989.0,3969938.0,3983978.0,2298241.0,2273730.0,1662722.0,1428376.0
Thailand,1983,2898714.0,3009723.0,3053560.0,3165319.0,3099005.0,3204345.0,2857671.0,2929266.0,2449568.0,2467601.0,...,503394.0,478213.0,388985.0,347703.0,298280.0,246936.0,206439.0,151493.0,187282.0,119109.0
Vietnam,1983,4026162.0,4238805.0,3766616.0,3935634.0,3498362.0,3631497.0,3169416.0,3265540.0,2845614.0,2908198.0,...,799340.0,661925.0,650146.0,507162.0,528506.0,363402.0,367661.0,214527.0,377430.0,155216.0